
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Kanit';
  src: local('Kanit'), url(./fonts/NotoSansThai.ttf) format('opentype');
} 

body {
  
  margin: 0;
  font-family: 'Kanit';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kanit',
    monospace;
}
